html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Arial;
  background: #f0f3f5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both; }

:focus {
  outline: none; }

.wrapper {
  width: 960px;
  margin: 0px auto; }

body > header {
  background-color: #3e6baf;
  height: 70px;
  color: white; }
  body > header .logo {
    background: url("images/logo.png") no-repeat;
    width: 124px;
    height: 70px;
    float: left;
    margin: 0px 108px 0px 0px; }

#content {
  width: 100%;
  display: block; }

body > footer {
  background-color: #151617;
  color: white;
  height: 14px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px 14px 0px; }
  body > footer aside {
    font: normal 14px/18px arial;
    float: left; }
  body > footer nav {
    float: right; }
    body > footer nav ul li {
      display: inline;
      padding: 4px 20px 4px 32px;
      font: normal 14px/24px arial;
      border-right: solid 1px #313334; }
      body > footer nav ul li a {
        text-decoration: none;
        font: normal 14px/24px arial;
        color: white;
        padding: 0px 0px 0px 32px;
        display: inline-block; }
      body > footer nav ul li a:hover {
        opacity: 0.24; }
      body > footer nav ul li a.api {
        background: url(../css/images/apiIcon.png) no-repeat left top; }
      body > footer nav ul li a.feedback {
        background: url(../css/images/feedbackIcon.png) no-repeat left top; }
    body > footer nav ul li:last-child {
      padding: 0px 0px 0px 12px;
      border-right: none; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2014, 5:16:44 PM
    Author     : sathish_ku
*/
body > header {
  background: url(images/headerBG.png) repeat-x;
  height: 70px;
  color: white;
  position: relative; }
  body > header .logo {
    float: left;
    background: url("images/logo.png") no-repeat;
    width: 124px;
    height: 70px;
    margin: 0px 108px 0px 0px; }
  body > header nav ul {
    display: inline;
    border: 0;
    margin: 0px 144px 0px 0px;
    float: left;
    padding: 26px 0px 0px 0px; }
    body > header nav ul li {
      float: left;
      list-style-type: none;
      border: 0;
      margin: 0px;
      padding: 0px; }
      body > header nav ul li a {
        color: #feffff;
        text-decoration: none;
        padding: 10px 15px; }
      body > header nav ul li a:hover, body > header nav ul li a.active {
        color: #feffff;
        background: #284877;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24);
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.24); }
  body > header #search input[type="text"] {
    background: url(images/searchIcon.png) no-repeat 6px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: normal 12px Arial,Helvetica,Sans-serif;
    color: #363636;
    width: 200px;
    padding: 6px 15px 6px 28px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin: 21px 0px 0px 0px; }
  body > header .forkGit {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 10; }
  body > header .forkGit a {
    background: #ff8b5d;
    background: -moz-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ff8b5d), color-stop(50%, #fd2e0c), color-stop(100%, #ff8b5d));
    background: -webkit-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: -o-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: -ms-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: linear-gradient(135deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b5d', endColorstr='#ff8b5d',GradientType=1 );
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 8px 40px;
    font-size: 16px;
    width: 260px;
    position: absolute;
    top: 44px;
    right: -108px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
  body > header .forkGit a:hover {
    background: #f73818; }

.breadcrumb {
  text-align: center; }

.breadcrumb ul {
  list-style: none;
  display: inline-table; }

.breadcrumb ul li {
  display: inline; }

.breadcrumb ul li a {
  display: block;
  float: left;
  height: 50px;
  background: #3498db;
  text-align: center;
  padding: 30px 40px 0 80px;
  position: relative;
  margin: 0 10px 0 0;
  font-size: 20px;
  text-decoration: none;
  color: #fff; }

.breadcrumb ul li a:after {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #3498db;
  position: absolute;
  right: -40px;
  top: 0;
  z-index: 1; }

.breadcrumb ul li a:before {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d4f2ff;
  position: absolute;
  left: 0;
  top: 0; }

.breadcrumb ul li:first-child a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.breadcrumb ul li:first-child a:before {
  display: none; }

.breadcrumb ul li:last-child a {
  padding-right: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.breadcrumb ul li:last-child a:after {
  display: none; }

.breadcrumb ul li a:hover {
  background: #fa5ba5; }

.breadcrumb ul li a:hover:after {
  border-left-color: #fa5ba5; }

/*http://thecodeplayer.com/walkthrough/css3-itemlist-navigation*/
#items {
  width: 100%;
  text-align: center;
  margin: 0px auto;
  padding: 10px; }

.itemlist {
  /*centering*/
  display: inline-block;
  overflow: hidden;
  border-radius: 5px; }

.itemlist li {
  display: block; }

.itemlist p {
  text-decoration: none;
  outline: none;
  display: block;
  font-size: 12px;
  line-height: 36px;
  min-width: 200px;
  color: white;
  background: linear-gradient(#666666, #333333); }

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.itemlist p:first-child {
  padding: 10px;
  border-radius: 5px 0 0 5px;
  /*to match with the parent's radius*/ }

.itemlist p:last-child {
  border-radius: 0 5px 5px 0;
  /*this was to prevent glitches on hover*/ }

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(white, #999999);
  background: -webkit-linear-gradient(white, #999999);
  background: -o-linear-gradient(white, #999999); }

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000; }

.close:hover {
  background: #00d9ff; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2014, 11:24:52 AM
    Author     : sathish_ku
*/
#content header {
  width: 100%;
  display: block;
  margin: 40px 0px 0px 0px;
  border-bottom: solid 1px #e7eaeb;
  padding: 0px 0px 6px 0px; }
  #content header section:first-child {
    float: left; }
  #content header section:last-child {
    float: right; }
#content h4 {
  color: #6c6e70;
  margin: 0px 0px 0px 10px;
  font: normal 20px/24px Arial;
  float: left; }
#content .toolTip {
  background: url(images/helpIcon.png) no-repeat left top;
  width: 26px;
  height: 32px;
  float: left;
  background-size: 26px 32px;
  margin: 0px 0px 0px 12px;
  cursor: pointer;
  display: inline-block;
  position: relative; }
  #content .toolTip:hover p {
    opacity: 1.0;
    visibility: visible; }
#content .toolTip p {
  position: absolute;
  left: -12px;
  top: 38px;
  background: #f6f1dc;
  border: solid 1px #c6c1a8;
  width: 160px;
  padding: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.0;
  color: #535759;
  font: normal 12px/14px Arial;
  -webkit-transition: all 0.24s ease-in;
  -moz-transition: all 0.24s ease-in;
  -ms-transition: all 0.24s ease-in;
  -o-transition: all 0.24s ease-in;
  transition: all 0.24s ease-in; }
#content .toolTip p:after, #content .toolTip p:before {
  bottom: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
#content .toolTip p:after {
  border-color: rgba(246, 241, 220, 0);
  border-bottom-color: #f6f1dc;
  border-width: 8px;
  margin-left: -8px; }
#content .toolTip p:before {
  border-color: rgba(198, 193, 168, 0);
  border-bottom-color: #c6c1a8;
  border-width: 9px;
  margin-left: -9px; }
#content .createNew {
  margin: 200px 0px 0px 0px; }
  #content .createNew h1 {
    color: #3d3d3f;
    font: normal 24px/36px georgia;
    text-align: center; }
    #content .createNew h1 a {
      color: #f16d0b;
      position: relative; }
    #content .createNew h1 a:after {
      position: absolute;
      background: url(images/hereArrow.png) left top no-repeat;
      left: 56px;
      top: -56px;
      background-size: 44px 80px;
      content: "";
      width: 44px;
      height: 80px; }

/*# sourceMappingURL=app.css.map */
