html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Arial; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  width: 960px;
  margin: 0px auto; }

body > header {
  background-color: #3e6baf;
  height: 70px;
  color: white; }
  body > header .logo {
    background: url("images/logo.jpg") no-repeat;
    width: 124px;
    height: 70px;
    float: left; }

#content {
  width: 100%;
  display: block; }

body > footer {
  background-color: #23221f;
  color: white;
  height: 30px;
  position: fixed;
  bottom: 0px;
  width: 100%; }
  body > footer nav {
    float: right; }
    body > footer nav ul li a {
      color: white; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2014, 5:16:44 PM
    Author     : sathish_ku
*/
body > header nav ul {
  display: inline;
  border: 0;
  margin: 0;
  float: left;
  padding-top: 26px; }
  body > header nav ul li {
    float: left;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0 15px; }
    body > header nav ul li a {
      color: #feffff;
      text-decoration: none; }
    body > header nav ul li a:hover {
      color: #feffff;
      text-decoration: underline; }
body > header #search input[type="text"] {
  background: url(images/search-white.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #bebebe;
  width: 150px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s; }

/*http://thecodeplayer.com/walkthrough/css3-breadcrumb-navigation*/
.breadcrumb {
  /*centering*/
  display: inline-block;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  border-radius: 5px;
  /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
  counter-reset: flag; }

.breadcrumb a {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 36px;
  color: white;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  background: #666;
  background: linear-gradient(#666666, #333333);
  position: relative; }

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
  padding-left: 46px;
  border-radius: 5px 0 0 5px;
  /*to match with the parent's radius*/ }

.breadcrumb a:first-child:before {
  left: 14px; }

.breadcrumb a:last-child {
  border-radius: 0 5px 5px 0;
  /*this was to prevent glitches on hover*/
  padding-right: 20px; }

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover {
  background: #333;
  background: linear-gradient(#333333, black); }

.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #333;
  background: linear-gradient(135deg, #333333, black); }

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 36px;
  height: 36px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;
  /*background same as links but the gradient will be rotated to compensate with the transform applied*/
  background: #666;
  background: linear-gradient(135deg, #666666, #333333);
  /*stylish arrow design using box shadow*/
  box-shadow: 2px -2px 0 2px rgba(0, 0, 0, 0.4), 3px -3px 0 2px rgba(255, 255, 255, 0.1);
  /*
  	5px - for rounded arrows and 
  	50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 5px 0 50px; }

/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
  content: none; }

/*we will use the :before element to show numbers*/
.breadcrumb a:before {
  content: counter(flag);
  counter-increment: flag;
  /*some styles now*/
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 8px 0;
  position: absolute;
  top: 0;
  left: 30px;
  background: #444;
  background: linear-gradient(#444444, #222222);
  font-weight: bold; }

.flat a, .flat a:after {
  background: white;
  color: black;
  transition: all 0.5s; }

.flat a:before {
  background: white;
  box-shadow: 0 0 0 1px #ccc; }

.flat a:hover, .flat a.active,
.flat a:hover:after, .flat a.active:after {
  background: #9EEB62; }

#forkongithub {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 200px;
  overflow: hidden;
  height: 200px;
  z-index: 10; }

#forkongithub a {
  color: white;
  background: #000;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 8px 40px;
  font-size: 16px;
  width: 260px;
  position: absolute;
  top: 40px;
  right: -108px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2014, 6:29:21 PM
    Author     : sathish_ku
*/
#app-caption {
  float: left;
  width: 460px; }
  #app-caption h1 {
    font-size: 40px; }

#demo-video {
  width: 480px;
  float: right; }

#main_features {
  float: left;
  padding-top: 65px; }
  #main_features section {
    width: 302px;
    float: left;
    padding-right: 26px; }
    #main_features section h4 {
      font-size: 30px;
      color: #3e3e40;
      border-bottom: solid #d4d8db 1px; }
  #main_features section:last-child {
    padding-right: 0px; }

/*# sourceMappingURL=site.css.map */
