@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_reset\.scss}line{font-family:\000031}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_reset\.scss}line{font-family:\0000322}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_reset\.scss}line{font-family:\0000326}}
body {
  line-height: 1;
  font-family: Arial; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_reset\.scss}line{font-family:\0000330}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_reset\.scss}line{font-family:\0000333}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_reset\.scss}line{font-family:\0000336}}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_reset\.scss}line{font-family:\0000341}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\000034}}
.wrapper {
  width: 960px;
  margin: 0px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\000039}}
header {
  background-color: #3e6baf;
  height: 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\0000312}}
  header .logo {
    background: url("images/logo.jpg") no-repeat;
    width: 124px;
    height: 74px;
    float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\0000320}}
section[title="main_features"] {
  padding-top: 65px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\0000322}}
  section[title="main_features"] section {
    width: 302px;
    float: left;
    padding-right: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\0000323}}
    section[title="main_features"] section h4 {
      font-size: 30px;
      color: #3e3e40;
      border-bottom: solid #d4d8db 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\0000325}}
  section[title="main_features"] section:last-child {
    padding-right: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_applayout\.scss}line{font-family:\0000328}}
footer {
  background-color: #23221f;
  height: 30px;
  position: absolute;
  bottom: 0px;
  width: 100%; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2014, 5:16:44 PM
    Author     : sathish_ku
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_headermenu\.scss}line{font-family:\0000312}}
header nav ul {
  display: inline;
  border: 0;
  margin: 0;
  float: left;
  padding-top: 26px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_headermenu\.scss}line{font-family:\0000313}}
  header nav ul li {
    float: left;
    list-style-type: none;
    border: 0;
    margin: 0;
    padding: 0 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_headermenu\.scss}line{font-family:\0000314}}
    header nav ul li a {
      color: #feffff;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_headermenu\.scss}line{font-family:\0000315}}
    header nav ul li a:hover {
      color: #feffff;
      text-decoration: underline; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2014, 2:48:50 PM
    Author     : vijayasekar_c
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_github\.scss}line{font-family:\0000310}}
#forkongithub a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 16px;
  line-height: 2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_github\.scss}line{font-family:\0000321}}
#forkongithub a:hover {
  background: #060;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_github\.scss}line{font-family:\0000325}}
#forkongithub a::before, #forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_github\.scss}line{font-family:\0000335}}
#forkongithub a::after {
  bottom: 1px;
  top: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_github\.scss}line{font-family:\0000339}}
#forkongithub {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 200px;
  overflow: hidden;
  height: 200px;
  z-index: 10; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/sathish_ku\/Documents\/NetBeansProjects\/zols\/scss\/_github\.scss}line{font-family:\0000349}}
#forkongithub a {
  width: 260px;
  position: absolute;
  top: 60px;
  right: -60px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); }
