$primary-color:#3E6BAF;
$footer-color:#151617;
$navigation-font-color:#FFF;
$screen-width:960px;
.wrapper {
    width: $screen-width;
    margin: 0px auto;
}

body>header {
    background-color: $primary-color;
    height: 70px;
    color:$navigation-font-color;
    .logo{
        background: url('images/logo.png') no-repeat;
        width: 124px;
        height: 70px;
        float: left;
        margin: 0px 108px 0px 0px;
    }
}

#content {
    width: 100%;
    display: block;
}

body>footer {
    background-color: $footer-color;
    color:$navigation-font-color;
    height: 14px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding:20px 0px;
    aside {font: normal 14px/18px arial; float: left;}
    nav {
        float:right;
        ul {
            li {
                display:inline;
                padding:4px 20px 4px 32px;
                font: normal 14px/24px arial;
                border-right: solid 1px #313334;
                a {
                    text-decoration: none;
                    font: normal 14px/24px arial;
                    color:$navigation-font-color;
                    padding:0px 0px 0px 32px;
                    display: inline-block;
                }
                a:hover {
                    opacity:0.24;
                }
                a.api {
                    background: url(../css/images/apiIcon.png)no-repeat left top;
                }
                a.feedback {
                    background: url(../css/images/feedbackIcon.png)no-repeat left top;
                }
            }
        }
        ul li:last-child  {padding:0px 0px 0px 12px; border-right: none;}
    }
}