$primary-color:#3E6BAF;
$footer-color:#23221F;
$navigation-font-color:#FFF;
$screen-width:960px;
.wrapper {
    width: $screen-width;
    margin: 0px auto;
}

header {
    background-color: $primary-color;
    height: 70px;
    color:$navigation-font-color;
    .logo{
        background: url('images/logo.jpg') no-repeat;
        width: 124px;
        height: 70px;
        float: left;
    }
}

#content {
    width: 100%;
    display: block;
}

footer {
    background-color: $footer-color;
    color:$navigation-font-color;
    height: 30px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    nav {
        float:right;
        ul {
            li {
                a {
                    color:$navigation-font-color;
                }
            }
        }
    }
}