/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2014, 5:16:44 PM
    Author     : sathish_ku
*/

header nav {
    ul{display: inline; border: 0; margin: 0; float: left; padding-top: 26px;
       li {float: left; list-style-type: none; border: 0; margin: 0; padding: 0 15px;
           a{color: #feffff; text-decoration: none;}
           a:hover{color: #feffff; text-decoration: underline;}
       }
    }
}

.search-bar {
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10);

  position: relative; 
  display: inline-block;

  input {
    @include box-sizing(border-box);
    display: block;
  }

  div.search-and-submit {
    position: relative;

    input[type=search] {
      @include appearance(none);
      width: 100%;
      padding: .5em .8em;
      font-size: .9em;
      font-style: italic;
      border-radius: $base-border-radius * 2;
      margin: 0;
    }

    button[type=submit] {
      @include button(simple, lighten($base-border-color, 10));
      @include position(absolute, 0.3em 0.3em 0.3em 0);
      outline: none;
      padding: 5px 10px;

      img {
        height: 12px;
        opacity: .7;
      }
    }
  }
}