/*http://thecodeplayer.com/walkthrough/css3-itemlist-navigation*/

#items {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
}

.itemlist {
	/*centering*/
	display: inline-block;	
	overflow: hidden;
	border-radius: 5px;
}

.itemlist a {
	text-decoration: none;
	outline: none;
	display: block;
	font-size: 12px;
	line-height: 36px;
        min-width: 200px;
	color: white;
	background: linear-gradient(#666, #333);

}

/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.itemlist a:first-child {
	padding: 10px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.itemlist a:first-child:before {

}
.itemlist a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
}


