/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2014, 11:24:52 AM
    Author     : sathish_ku
*/
#content {
    header {
        width: 100%;
        display:block;
        section:first-child{ float: left;}
        section:last-child{ float: right;}
        margin:40px 0px 0px 0px;
        border-bottom: solid 1px #e7eaeb;
        padding: 0px 0px 6px 0px;
    }
    h4 {
        color:#6c6e70;
        margin:0px 0px 0px 10px;
        font: normal 20px/24px Arial;
        float:left;
    }
    .toolTip {
        background: url(images/helpIcon.png) no-repeat left top;
        width:26px; height: 32px;
        float:left;
        background-size: 26px 32px;
        margin:0px 0px 0px 12px;
        cursor: pointer;
        display: inline-block;
        position: relative;
        
        &:hover p {
            opacity: 1.0;
            visibility: visible;
        }
    }
    
    .toolTip p {
        position:absolute;
        left:-12px; top:38px;
        background: #f6f1dc;
        border: solid 1px #c6c1a8;
        width: 160px;
        padding: 8px;
        @include border-radius(4px);
        opacity: 0.0;
        color:#535759;
        font: normal 12px/14px Arial;
        -webkit-transition: all 0.24s ease-in;
        -moz-transition: all 0.24s ease-in;
        -ms-transition: all 0.24s ease-in;
        -o-transition: all 0.24s ease-in;
        transition: all 0.24s ease-in;
    }
    .toolTip p:after, .toolTip p:before {
	bottom: 100%;
	left: 13%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    }
    .toolTip p:after {
	border-color: rgba(246, 241, 220, 0);
	border-bottom-color: #f6f1dc;
	border-width: 8px;
	margin-left: -8px;
    }
    .toolTip p:before {
	border-color: rgba(198, 193, 168, 0);
	border-bottom-color: #c6c1a8;
	border-width: 9px;
	margin-left: -9px;
    }
    .info {
        margin:200px 0px 0px 0px;
        h1 {
            color:#3d3d3f;
            font: normal 24px/36px georgia;
            text-align: center;
            a {
                color:#f16d0b;
                position:relative;
            }
            a:after {
                position:absolute;
                background: url(images/hereArrow.png) left top no-repeat;
                left: 56px;
                top: -56px;
                background-size: 44px 80px;
                content: "";
                width: 44px;
                height: 80px;
            }
        }
    }
    




}
