{
    "size":{{size}}{{^size}}10{{/size}},
    {{#from}}"from":{{from}},{{/from}}
    "aggregations": {
        "types": {
            "terms": {
                "field": "$type"
            }
        },
        "brand": {
            "terms": {
                "field": "brand"
            }
        },
        "min_price": {
            "min": {
                "field": "price"
            }
        }
        ,
        "max_price": {
            "max": {
                "field": "price"
            }
        }
    },
    "query": {
        "bool": {
            "filter": []
        }
    }
}