**/*ipr
**/*iws
**/*iml
**/target
**/data
**/bin
**/nbproject
**/nbactions.xml
**/bower_components
**/dist
**/node_modules
**/.sass-cache
**/.tmp
.settings
.classpath
.project
**/**.iml
**.iml
**/**.ipr
**.ipr
**/**.iws
**.iws
.idea
*~
\#*
.DS_Store
build
**/**.log
**/deploy.txt
/zols-ui/app/nbproject/private/
/zols-cms-plugin/src/main/resources/static
/zols-cms-plugin/src/main/resources/templates
