**/*ipr
**/*iws
**/*iml
**/target
**/data
**/bin
**/nbproject
**/nbactions.xml
**/bower_components
**/dist
**/node_modules
**/.sass-cache
**/.tmp
.settings
.classpath
.project
**/**.iml
**.iml
**/**.ipr
**.ipr
**/**.iws
**.iws
.idea
*~
\#*
.DS_Store
build
**/package-lock.json
**/browser-sync.js
**/**.log.**
**.log
**/deploy.txt
**/out.log.*
.factorypath
.vscode

/zols-web/src/main/resources/static/
zols-ui/browser-sync.js
