<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Zols | Embeddable CMS</title>
        <link rel="stylesheet" type="text/css" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/github.css" />
    </head>
    <body>
        <header class="header" >
            <div id="headerbg">
                <div id="logo"></div>
                <!--/*/
                <div th:fragment="logout" sec:authorize="isAuthenticated()" class="user">
                    Welcome to <span sec:authentication="name">Username</span>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a th:href="@{/controlpanel}"> Control Panel</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a th:href="@{/logout}">Logout</a>
                </div>
                /*/-->
                <div th:fragment="logout" sec:authorize="!isAuthenticated()" class="user">
                    <span id="forkongithub"><a href="https://github.com/sathishk/zols">Fork us @ GitHub</a></span>
                </div>
            </div>
            <nav th:each="linkentry : ${links}" th:switch="${linkentry.key}"  th:case="'header'">
                <ul th:each="menu : ${linkentry.value}"
                    th:include="menu::menuContent"> 
                </ul>
            </nav>
        </header>
        <section>



            <div class="content contentpos" >

                <div class="colmask threecol">                    
                    <div class="colmid">
                        <div class="colleft">
                            <div class="col1" >
                                <iframe width="420" height="315" src="http://www.youtube.com/v/RbR3Yol8hGo" frameborder="0" allowfullscreen=""></iframe>                                
                            </div>
                            <div class="col2">
                                <h1>Native Data</h1>
                                <p>Content is no longer just a text. Any data we enter into zols is stored in it's native format. For E.g Dates, Time, Number etc. Which will provide the posiblity of addtional search capablities.</p>
                            </div>
                            <div class="col3">
                                <h1>HTML to CSS in no Time</h1>
                                <p>Make changes to HTML files and see it is up and running in CMS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="colmask threecol">                    
                    <div class="colmid">
                        <div class="colleft">
                            <div class="col1" >
                                <h1>Embedded CMS</h1>
                                Zols can either be run as a standalone CMS or as an embedded CMS within an existing Spring Web Application. This gives the power of quickly bootstrapping and testing our your HTML authoring and be able to quickly deploy it in the production.
                                <p></p>
                            </div>
                            <div class="col2" >
                            </div>
                            <div class="col3" >

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <footer class="footer">

            <div id="copyrights">Apache License, Version 2.0</div>
            <div class="user userpos">
                <ul>
                    <li>
                        <a href="http://www.github.com/sathishk/zols/issues">Feebback @ Github</a>
                    </li>
                </ul>
            </div>

        </footer>
    </body>
</html>