/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Nov, 2014, 12:31:53 PM
    Author     : sathish
*/

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

.footer{
    background: #151618;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.forkGit {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 10; }
.forkGit a {
    background: #ff8b5d;
    background: -moz-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ff8b5d), color-stop(50%, #fd2e0c), color-stop(100%, #ff8b5d));
    background: -webkit-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: -o-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: -ms-linear-gradient(-45deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    background: linear-gradient(135deg, #ff8b5d 0%, #fd2e0c 50%, #ff8b5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b5d', endColorstr='#ff8b5d',GradientType=1 );
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 8px 40px;
    font-size: 16px;
    width: 260px;
    position: absolute;
    top: 44px;
    right: -108px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
.forkGit a:hover {
    background: #f73818; }

.navbar-inverse .nav {
    padding: 15px 0;
}

.navbar-inverse .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 36px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-inverse .navbar-brand {
        padding: 15px 0;
    }
}