$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

$body-bg:#EFF3F6 ;
$navbar-default-bg : #3d68ac;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffffff;
$navbar-default-link-active-color: #ffffff;
$navbar-default-link-active-bg:#264571;

@import '../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import '_breadcrum.scss';
@import '_site.scss';
@import "_courousal.scss";

body { padding-bottom: 70px; }