$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$navbar-inverse-bg: #3E69AD !default;
$body-bg: #EFF3F6 !default;
$navbar-default-link-color: #FFFFFF !default;
$navbar-default-link-hover-color:#FFFFFF !default;
$navbar-default-link-active-color:#FFFFFF !default;
$navbar-default-link-disabled-color:#FFFFFF !default;

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.thumbnail {
    height: 200px;

    img.pull-right {
        width: 50px;
    }
}

.footer{
    background: #151618;
}
