@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\000031}}
body {
  font-family: Verdana;
  font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\000038}}
header #headerbg {
  background-color: #292929;
  color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000311}}
  header #headerbg #logo {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000314}}
  header #headerbg .user {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000316}}
    header #headerbg .user a {
      text-decoration: none;
      color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000321}}
  header #headerbg span {
    color: #F97F00; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000325}}
header nav {
  clear: both;
  background-color: #3F3F3F; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000329}}
  header nav ul li {
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000331}}
    header nav ul li a {
      text-decoration: none;
      color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000334}}
      header nav ul li a:hover {
        color: #F97F00; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000340}}
.content {
  background-color: #E8E8E8; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000342}}
  .content div#layout {
    background-color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000345}}
    .content div#layout .layoutinner .rect {
      border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000352}}
footer #footerbg {
  background-color: #292929;
  color: #ffffff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000355}}
  footer #footerbg #copyrights {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000358}}
  footer #footerbg .user {
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/kanag\/sass\/UsabilityFlow\/UsabilityFlow\/public_html\/scss\/themes\.scss}line{font-family:\0000360}}
    footer #footerbg .user a {
      text-decoration: none;
      color: #ffffff; }
