<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>List Templates</title>       
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../../resources/css/redmond/jquery-ui-1.10.3.custom.min.css" th:href="@{/resources/css/redmond/jquery-ui-1.10.3.custom.min.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../../resources/css/ui.jqgrid.css" th:href="@{/resources/css/ui.jqgrid.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../../resources/css/jquery.idealforms.min.css" th:href="@{/resources/css/jquery.idealforms.min.css}"/>
    </head>
    <body th:fragment="content">

        <table id="grid"></table>
        <div id="pager"></div>

        <script src="../../../../../resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
        <script src="../../../../../resources/js/jquery-ui-1.10.3.custom.min.js" th:src="@{/resources/js/jquery-ui-1.10.3.custom.min.js}"></script>
        <script src="../../../../../resources/js/i18n/grid.locale-en.js" th:src="@{/resources/js/i18n/grid.locale-en.js}"></script>
        <script src="../../../../../resources/js/jquery.jqGrid.min.js" th:src="@{/resources/js/jquery.jqGrid.min.js}"></script>
        
        <script src="../../../../../resources/js/template.js" th:src="@{/resources/js/template.js}"></script>
    </body>
</html>