body {
    font-family:Verdana;
    font-size:12px;
    margin:0;
    background-color:#E8E8E8;
}

header #headerbg {
    background-color:#292929;
    color:#fff;
    height:68px;
    margin:auto;
    padding:12px 0 0 35px;
}

header #headerbg #logo {
    float:left;
}

header #headerbg .user {
    float:right;
    padding:12px 12px 0 0;
}

header nav {
    clear:both;
    background-color:#3F3F3F;
    height:30px;
    width:100%;
    margin:auto;
}

header nav ul li {
    display:inline;
    padding:19px 0 0 42px;
}



.content div#layout {
    background-color:#fff;
}

.content div#layout .layoutinner .rect {
    border-radius:10px;
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    background-color:#292929;
    color:#fff;
    width:100%;
    height:40px;
    margin:auto;
}

footer #copyrights {
    float:left;
    padding:10px 0 0 35px;
}

footer .user {
    float:right;
}

#logo {
    background:url(images/logo.png) no-repeat right top;
    width:95px;
    height:68px;
}

header nav ul {
    margin:0;
    padding:7px;
}
html body section {
    padding: 0px 40px;

}
.contentpos {    
    width:100%;
    margin:auto;
    padding:15px 0 50px ;
}

.contentpos div#layout {
    width:798px;
    height:487px;
    margin:auto;
    padding:0 0 0 162px;
}

.contentpos div#layout .layoutinner {
    padding-top:204px;
}

footer .userpos {
    padding:10px 30px 0 0;
}

header #headerbg .user a,header nav ul li a,footer .user a {
    text-decoration:none;
    color:#fff;
}

header #headerbg span,header nav ul li a:hover {
    color:#F97F00;
}

.right-header {
    float: right;
    width: 300px;
}

