<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Control Panel</title>
        <link rel="stylesheet" type="text/css" media="screen" href="static/css/tiles.css" th:href="@{/resources/css/tiles.css}"/>    </head>
    <body th:fragment="content">
        <div class="wrap">
            <!-- Define all of the tiles: -->
            <div class="box" th:each="linkentry : ${links}" th:switch="${linkentry.key}"  th:case="'controlpanel'">
                <div class="boxInner" th:each="menu : ${linkentry.value}">
                    <a th:href="@{${menu.targetUrl}}"><img th:src="@{${menu.iconUrl}}" src="../../../webapp/resources/css/images/icons/entities.svg" alt="${menu.label}" /></a>
                    <div class="titleBox" th:text="${menu.label}">Entities</div>
                </div>
            </div>
        </div>
        <!-- /#wrap -->
    </body>
</html>