<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Zols Content Management System</title>
        <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico" th:href="@{/resources/theme/zols/css/images/logo.ico}"/>
        <link rel="stylesheet" type="text/css" href="../../../../webApp/src/main/webapp/resources/theme/zols/css/base.css" th:href="@{/resources/theme/zols/css/base.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resourcescss/redmond/jquery-ui-1.10.3.custom.min.css" th:href="@{/resources/css/redmond/jquery-ui-1.10.3.custom.min.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resourcescss/ui.jqgrid.css" th:href="@{/resources/css/ui.jqgrid.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resourcescss/jquery.idealforms.min.css" th:href="@{/resources/css/jquery.idealforms.min.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/ui.jqgrid.css" th:href="@{/resources/css/form.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/breadcrumb.css" th:href="@{/resources/css/breadcrumb.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/breadcrumb.css" th:href="@{/resources/css/jquery-te/jquery-te-1.4.0.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/tiles.css" th:href="@{/resources/css/tiles.css}"/>
    </head>
    <body>
        <header class="header" >
            <div id="headerbg">
                <div id="logo"></div>
                <!--/*/
                <div th:fragment="logout" sec:authorize="isAuthenticated()" class="user">
                    Welcome to <span sec:authentication="name">Username</span>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a th:href="@{/controlpanel}"> Control Panel</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;<a th:href="@{/logout}">Logout</a>
                </div>
                /*/-->
                <div th:fragment="logout" sec:authorize="!isAuthenticated()" class="user">
                    <a th:href="@{/login}">Login</a>
                </div>
            </div>
                <nav th:each="linkentry : ${links}" th:switch="${linkentry.key}"  th:case="'header'">
                  <ul th:each="menu : ${linkentry.value}"
                  th:include="menu::menuContent"> 
                    </ul>
                </nav>
        </header>
        <section>

            <div class="content contentpos" th:include="${viewName}::content" >

            </div>

        </section>
        <footer class="footer">

            <div id="copyrights">&#169; Copyright - All rights reserved.</div>
            <div class="user userpos">
                <ul th:each="linkentry : ${links}" th:switch="${linkentry.key}"  th:case="'footer'">
                    <li th:each="link : ${linkentry.value}">
                        <a th:href="${link.targetUrl}" th:text="${link.name}"> </a>
                    </li>
                </ul>
            </div>

        </footer>
    </body>
</html>
