<!DOCTYPE html>
<html>
    <head>
        <title>Templates</title>
        <link href="../../../../css/app.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <section class="wrapper">
                <a href="" class="logo"></a>
                <nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Samples</a></li>
                        <li><a href="#">Builds</a></li>
                    </ul>
                </nav>                
            </section>

        </header>
        <section class="wrapper">
            <section id="content">
                <header class="pageTitle">
                    <section>
                        <h4>Templates</h4>
                        <a class="toolTip" href="#">
                            <span>Lorem ipsum dolor sit amet, consectetur adipi scing elit.</span>
                        </a>
                    </section>
                    <section class="categorySelector">
                        <label for="category">Template Repository:</label>
                        <select id="category">

                        </select>

                        <a id="editBtn" class="editBtn" href="javascript://">E</a>
                        <a href="#deleteCategory" class="deleteBtn">-</a>
                    </section>
                    <div class="clear"></div>
                </header>



                <section id="listing">
                    <nav class="breadcrumb">
                        <ul>

                        </ul>
                    </nav>
                    <section id="items">
                        <ul class="itemlist">


                        </ul>
                        <a id="addMore" href="javascript://">Add More</a>
                    </section>
                </section>

                <section id="categoryform">
                    <form id="category-form" class="contact_form" >
                        <fieldset>                        
                            <ul>
                                <li>
                                    <label>Type</label>
                                    <input id="type" name="type" type="text" />
                                </li>
                                <li>
                                    <label >Name</label>
                                    <input name="name" type="text"  />
                                </li>   
                                <li>
                                    <label >Label</label>
                                    <input name="label" type="text"  />
                                </li> 
                                <li>
                                    <label >Path</label>
                                    <input name="path" type="text" />
                                </li> 
                                <li>
                                    <label >Host</label>
                                    <input name="host" type="text"  />
                                </li>
                                <li>
                                    <label >Root Folder</label>
                                    <input name="rootFolder" type="text"  />
                                </li> 
                                <li>
                                    <label >User Name</label>
                                    <input name="userName" type="text"  />
                                </li>
                                <li>
                                    <label >Password</label>
                                    <input name="password" type="text"  />
                                </li>
                                <li>
                                    <label >Description</label>
                                    <textarea name="description" cols="40" rows="6" ></textarea>
                                </li>
                                <li>
                                    <button id="submitCategory" type="button">Submit</button>
                                    <button id="cancelCategory" type="button">Cancel</button>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </section>

                <section id="linkform">
                    <form id="link-form" class="contact_form">
                        <fieldset>                        
                            <ul>
                                <li>
                                    <label>Name:</label>
                                    <input name="name" type="text"  required=""/>
                                </li>
                                <li>
                                    <label>Label</label>
                                    <input name="label" type="text" required=""/>
                                </li>
                                <li>
                                    <label>Description</label>
                                    <textarea name="description" cols="40" rows="6"></textarea>
                                </li>

                                <li>
                                    <button id="submitLink" type="button">Submit</button>
                                    <button id="cancelLink" type="button">Cancel</button>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                </section>

                <section id="nocategory" class="info">
                    <h1>There are no Template Repository <br />Create a new Repository <a id="createNew" href="#">here</a></h1>
                </section>

                <section id="notemplates" class="info">
                    <h1>There are no templates <br />Create a new Template <a id="createLink" href="#">here</a></h1>

                </section>

                <section id="choose_repo_type" class="info">
                    <h1>Plese select type</h1>
                    <ul id="repo_types">
                        <li><a href="javascript://" data-type="file">File</a></li>
                        <li><a href="javascript://" data-type="ftp">FTP</a></li>
                    </ul>

                </section>

                <div id="deleteCategory" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Delete Category</h2>
                        <p>Are you sure you want to delete</p>

                        <a href="#close" id="deleteBtn">Ok</a>
                        <a href="#close">Close</a>
                    </div>
                </div>



                <div id="deleteLink" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Delete Link</h2>
                        <p>Are you sure you want to delete</p>

                        <a href="#close" id="delLink">Ok</a>
                        <a href="#close">Close</a>
                    </div>
                </div>

            </section>
        </section>

        <footer>
            <section class="wrapper">
                <aside>Apache License V2</aside>
                <nav>
                    <ul>
                        <li><a href="#" class="api">API</a></li>                    
                        <li><a href="#" class="feedback">Feedback</a></li>
                    </ul>
                </nav>
            </section>
        </footer>

        <script type="text/javascript" src="../../../../js/jquery-2.1.1.min.js"></script>        
        <script type="text/javascript" src="../../../../js/form2js/form2js.js"></script>
        <script type="text/javascript" src="../../../../js/form2js/jquery.toObject.js"></script>
        <script type="text/javascript" src="../../../../js/form2js/js2form.js"></script>
        <script type="text/javascript" src="../../../../js/org/zols/templates/templates.js"></script>

    </body>
</html>