<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>Zols</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/zols.css -->
        <link rel="stylesheet" href="/styles/zols.css"/>
        <!-- endbuild -->

        <!-- build:js(app) scripts/modernizr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <!-- build:js(app) scripts/zols.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="/bower_components/json-editor/dist/jsoneditor.js"></script>
        <!-- endbower -->
        <script src="/scripts/jsviews.min.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div class="container-fluid" th:fragment="content">
            <div class="row"  >
                <div class="page-header">
                    <div class="container-fluid">
                        <div class="row show-grid">
                            <div class="pull-left">
                                <h4>
                                    <span id="pageTitle">Master</span>
                                    <!--                                    <span class="badge">
                                                                            <i data-toggle="tooltip" data-placement="right" title="Tooltip on right" class="glyphicon glyphicon-question-sign"></i>
                                                                        </span>-->
                                </h4>
                            </div>
                            <div class="pull-right" id="schemaHeader">
                                <label>Schema</label>
                                <label id="categorynameLbl">Schema Name</label>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="container">
                    <div class="row" id="result">

                    </div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-sm"
                 id="delete-conf-model"
                 tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        Do you want to delete the content?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="del_conf_cancel" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="del_conf_ok" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>

            <script id="noTemplateRepository" type="text/x-jsrender">
                <div class="jumbotron">
                <div class="container">
                There are no Schema created. click <a>here</a> to create one
                </div>
                </div>
            </script>

            <script id="listSchemas" type="text/x-jsrender">
                {{if schema.length !==0}}
                   <section id="carousel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                                        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" >
                                            <!-- Carousel indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>

                                            </ol>
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <div class="active item">
                                                    <div class="row row-centered">
                                                    {{for schema}}
                                                        <a data-name="{{:id}}">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="images/modules/documents.svg" alt="Schema" class="img-rounded"/>
                                                                <div class="col-md-offset-1">
                                                                    <h5>{{:title}}</h5>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    {{/for}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                {{/if}}
            </script>


            <script id="noData" type="text/x-jsrender">
                <div class="jumbotron">
                <div class="container">
                There are no Data to display. click <a>here</a> to create one
                </div>
                </div>
            </script>



            <script id="listData" type="text/x-jsrender">
                {{if link.length !==0}}

                <ul class="list-group">
                {{for link}}
                <li class="list-group-item">
                {{:title}}
                <span class="badge"><i class="glyphicon glyphicon-trash"></i></span>
                <span class="badge"><i class="glyphicon glyphicon-edit"></i></span>
                </li>
                {{/for}}
                </ul>
                {{/if}}

                <a id="addMoreDataBtn" href="#">Add More</a>
            </script>

            <script id="data_entry" type="text/x-jsrender">
                <form class="form-horizontal" >

                <div class="form-group" id="editor_holder">
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                <label class="col-md-4 control-label" for="saveBtn"></label>
                <div class="col-md-8">
                <button name="saveBtn" class="btn btn-success" type="submit">Save</button>
                <button name="discardBtn" class="btn btn-danger" type="button" onclick="$.fn.listData()">Discard Changes</button>
                </div>
                </div>
                </form>

            </script>

            <!-- build:js({app,.tmp}) scripts/master.js -->
            <script src="/scripts/master.js"></script>
            <script src="/scripts/data.js"></script>
            <!-- inject:partials -->
            <!-- endinject -->
            <!-- endbuild -->

        </div>


        <!-- References
        http://bootsnipp.com/snippets/6GM92
        http://bootsnipp.com/snippets/featured/fade-quote-carousel
        http://bootsnipp.com/snippets/featured/smooth-animated-thumbnails
        http://bootsnipp.com/snippets/featured/fat-and-flat-blue-button

        -->

    </body>
</html>
