<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Category</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/redmond/jquery-ui-1.10.3.custom.min.css" th:href="@{/resources/css/redmond/jquery-ui-1.10.3.custom.min.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/ui.jqgrid.css" th:href="@{/resources/css/ui.jqgrid.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/form.css" th:href="@{/resources/css/form.css}"/>
    </head>
    <body th:fragment="content">
        <div class="wrap">
            <!-- Define all of the tiles: -->
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/entities}"><img th:src="@{/resources/css/images/icons/entities.svg}" src="../../../webapp/resources/css/images/icons/entities.svg" alt="Entities" /></a>
                    <div class="titleBox">Entities</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/templates}"><img th:src="@{/resources/css/images/icons/template.svg}" src="../../../webapp/resources/css/images/icons/template.svg" alt="Templates" /></a>
                    <div class="titleBox">Templates</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/templateStorages}"><img th:src="@{/resources/css/images/icons/template_storage.svg}" src="../../../webapp/resources/css/images/icons/template_storage.svg" alt="Template Storage" /></a>
                    <div class="titleBox">Template Storage</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/links}"><img th:src="@{/resources/css/images/icons/links.svg}" src="../../../webapp/resources/css/images/icons/links.svg" alt="Links" /></a>
                    <div class="titleBox">Links</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/users}"><img th:src="@{/resources/css/images/icons/users.svg}" src="../../../webapp/resources/css/images/icons/users.svg" alt="Users" /></a>
                    <div class="titleBox">Users</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/languages}"><img th:src="@{/resources/css/images/icons/language.svg}" src="../../../webapp/resources/css/images/icons/language.svg" alt="Language" /></a>
                    <div class="titleBox">Language</div>
                </div>
            </div>


        </div>
        <!-- /#wrap -->


    </body>
</html>