<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Control Panel</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../../resources/css/tiles.css" th:href="@{/resources/css/tiles.css}"/>    </head>
    <body th:fragment="content">
        <div class="wrap">
            <!-- Define all of the tiles: -->
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/entities}"><img th:src="@{/resources/css/images/icons/entities.svg}" src="../../../webapp/resources/css/images/icons/entities.svg" alt="Entities" /></a>
                    <div class="titleBox">Entities</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/templates}"><img th:src="@{/resources/css/images/icons/template.svg}" src="../../../webapp/resources/css/images/icons/template.svg" alt="Templates" /></a>
                    <div class="titleBox">Templates</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/templateStorages}"><img th:src="@{/resources/css/images/icons/template_storage.svg}" src="../../../webapp/resources/css/images/icons/template_storage.svg" alt="Template Storage" /></a>
                    <div class="titleBox">Template Storage</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/links}"><img th:src="@{/resources/css/images/icons/links.svg}" src="../../../webapp/resources/css/images/icons/links.svg" alt="Links" /></a>
                    <div class="titleBox">Links</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/users}"><img th:src="@{/resources/css/images/icons/users.svg}" src="../../../webapp/resources/css/images/icons/users.svg" alt="Users" /></a>
                    <div class="titleBox">Users</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/languages}"><img th:src="@{/resources/css/images/icons/language.svg}" src="../../../webapp/resources/css/images/icons/language.svg" alt="Language" /></a>
                    <div class="titleBox">Language</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/branches}"><img th:src="@{/resources/css/images/icons/branch.svg}" src="../../../webapp/resources/css/images/icons/language.svg" alt="Branch" /></a>
                    <div class="titleBox">Branches</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/documents}"><img th:src="@{/resources/css/images/icons/documents.svg}" src="../../../webapp/resources/css/images/icons/language.svg" alt="Documents" /></a>
                    <div class="titleBox">Documents</div>
                </div>
            </div><div class="box">
                <div class="boxInner">
                    <a th:href="@{/documentstorages}"><img th:src="@{/resources/css/images/icons/documentstroge.svg}" src="../../../webapp/resources/css/images/icons/language.svg" alt="Document Storage" /></a>
                    <div class="titleBox">Document Storage</div>
                </div>
            </div> 
            <div class="box">
                <div class="boxInner">
                    <a th:href="@{/settings}"><img th:src="@{/resources/css/images/icons/settings.svg}" src="../../../webapp/resources/css/images/icons/language.svg" alt="Settings" /></a>
                    <div class="titleBox">Settings</div>
                </div>
            </div><div class="box">
                <div class="boxInner">
                    <a th:href="@{/feedback}"><img th:src="@{/resources/css/images/icons/feedBack.svg}" src="../../../webapp/resources/css/images/icons/language.svg" alt="Feedback" /></a>
                    <div class="titleBox">Feedback</div>
                </div>
            </div> 

        </div>
        <!-- /#wrap -->


    </body>
</html>