<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Page</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../../resources/css/redmond/jquery-ui-1.10.3.custom.min.css" th:href="@{/resources/css/redmond/jquery-ui-1.10.3.custom.min.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../../resources/css/ui.jqgrid.css" th:href="@{/resources/css/ui.jqgrid.css}"/>

    </head>
    <body th:fragment="content">
        
        <div class="wrap">
            
        </div>
        
        <form id="my-form" th:object="${page}" style="display: none">
            <ul>
                <li>
                    <label for="name">Name:</label>
                    <input id="name" name="name" type="text" th:field="*{name}" required=""/>
                </li>
                <li style="display: none">
                    <label for="templateName">Template</label>
                    <input id="templateName" name="templateName" th:field="*{templateName}"/>                    
                </li>
                <li style="display: none">
                    <label for="dataName">Data</label>
                    <input id="dataName" name="dataName" type="text" th:field="*{dataName}"/>
                </li>
                <li>
                    <button id="submit" type="submit">Submit</button>
                    <button id="cancel" type="button">Cancel</button>
                </li>
            </ul>
        </form>
        
        <form id="dynamicForm"></form>


        <script src="../../../../../resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
        <script type="text/javascript" src="../../../../../../webapp/resources/js/jquery-te-1.4.0.min.js" th:src="@{/resources/js/jquery-te-1.4.0.min.js}"></script>
        <script src="../../../../../resources/js/form2js.js" th:src="@{/resources/js/form2js.js}"></script>
        <script src="../../../../../resources/js/handlebars.js" th:src="@{/resources/js/handlebars.js}"></script>
        <script src="../../../../../resources/js/jquery-handlebar.js" th:src="@{/resources/js/jquery-handlebar.js}"></script>
        <script src="../../../../../resources/js/jquery.toObject.js" th:src="@{/resources/js/jquery.toObject.js}"></script>
        <script src="../../../../../resources/js/dropdownFiller.js" th:src="@{/resources/js/dropdownFiller.js}"></script>
        <script type="text/javascript" src="../../../../../../webapp/resources/js/makeform.js" th:src="@{/resources/js/makeform/makeform.js}"></script>        
        <script src="../../../../../resources/js/page.js" th:src="@{/resources/js/page.js}"></script>
        
        


    </body>
</html>