// Import Custom Variables



@import './base/typography';
@import './themes/theme';

@import './vendors/bootstrap';


@import './components/signin';
@import './components/toc';
@import './components/chat';


.table-hover > tbody {
    tr {
        :last-child {
            i {
                display: none;
            }
            
        }

    } 
    tr:hover {
        :last-child {
            i {
                display: inline-block;
            }
            
        }

    } 
}