// Import Custom Variables



@import './base/typography';
@import './themes/theme';

@import './vendors/bootstrap';


@import './components/signin';
@import './components/toc';
@import './components/chat';


.table-hover > tbody {
    tr {
        :last-child {
            visibility: hidden;
        }

    } 
    tr:hover {
        :last-child {
            visibility: visible;
        }

    } 
}