$body-bg: #EFF3F6;
$navbar-default-bg: #3d68ac;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffffff;
$navbar-default-link-active-color: #ffffff;
$navbar-default-link-active-bg: #264571;
@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.thumbnail img {
  width: 171px;
  height: 180px;
}

.row>[class^="col-"] {
  line-height: 3;
  text-align: center;
  color: #333;
  background-color: rgba(255,0,0,.15);
}
.row>[class^="col-"]:nth-child(odd) {
  background-color: rgba(255,0,0,.3);
}
