<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>List entities</title>       
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resourcescss/redmond/jquery-ui-1.10.3.custom.min.css" th:href="@{/resources/css/redmond/jquery-ui-1.10.3.custom.min.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resourcescss/ui.jqgrid.css" th:href="@{/resources/css/ui.jqgrid.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resourcescss/jquery.idealforms.min.css" th:href="@{/resources/css/jquery.idealforms.min.css}"/>
    </head>
    <body>
        <div class="link">
            <div class="categoryContainer">
                <select name ="linkCategory" id ="link_category"></select>
                <button id="addCategoryBtn">+</button><button id="removeCategoryBtn">-</button>
            </div>
            <div class="linkContainer">
                <ul id="childLink">

                </ul>

            </div>
        </div>
        <script src="../../../../webApp/src/main/webapp/resourcesjs/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resourcesjs/jquery-ui-1.10.3.custom.min.js" th:src="@{/resources/js/jquery-ui-1.10.3.custom.min.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resourcesjs/i18n/grid.locale-en.js" th:src="@{/resources/js/i18n/grid.locale-en.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resourcesjs/jquery.jqGrid.min.js" th:src="@{/resources/js/jquery.jqGrid.min.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/handlebars.js" th:src="@{/resources/js/handlebars.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/jquery-handlebar.js" th:src="@{/resources/js/jquery-handlebar.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                URL = 'http://localhost:8080/zols';
                console.log(URL + '/api/categories');
                $.ajax({
                    url: URL + '/api/categories',
                    type: 'GET',
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data, textStatus, jqXHR)
                    {


                        var categoryOption = '<option>Select </option>';
                        $.each(data.content, function(key, value) {
                            console.log(value.name);
                            categoryOption += "<option value=" + value.name + " >" + value.label + "</option>";
                        });
                        $("#link_category").append(categoryOption);

                        $("#link_category").change(function() {
                            categoryName = $("#link_category").val();
                            getCategoryLinks(categoryName);
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        return false;
                        console.log(jqXHR + "===" + textStatus);
                    }
                });
                $("#removeCategoryBtn").click(function() {
                    console.log($("#link_category").val());
                });

            });
            function getCategoryLinks(category) {
                var _url = URL + '/api/links/category/' + category;
                var _response = getData(_url, 'GET', 'json', '', 'application/json', false);
                $("#childLink").empty();
                if (_response.length > 0) {
                    dynamicChildList(_response);
                } else {

                    $("#childLink").html("<li> No Record!</li>");
                }
            }

            $("#my-form").submit(function(e)
            {
                console.log(JSON.stringify($("#my-form").toObject({mode: 'first'})));

                console.log(categoryName);


            });

            $('#addCategoryBtn').click(function() {
                window.location = URL + '/links/addunder/' + categoryName;
            });

            function onClickLink(id) {
                var _url = URL + '/api/links/' + id;
                var _response = getData(_url, 'GET', 'json', '', 'application/json', false);
                if (_response.length > 0) {
                    $("#childLink").empty();
                    dynamicChildList(_response);
                } else {
                    alert("No Records");
                }


            }
            function dynamicChildList(_responseData) {

                $("#childLink").handlebars('childList', _responseData);

                $("#childLink li .parentLink").click(function() {
                    onClickLink($(this).attr("id"));
                });
                $("#childLink li .addChild").click(function() {
                    window.location = URL + '/links/addchild/' + $(this).attr('data-parent');
                });
                $("#childLink li .editlink").click(function() {
                    window.location = URL + '/links/edit/' + $(this).attr('data-parent');
                });


                $("#childLink li .removeChild").click(function() {
                    var parentName = $(this).attr('data-parent');
                    if (parentName !== null) {
                        var _url = URL + '/api/links/category/' + parentName;
                        console.log(_url);
                        getData(_url, 'DELETE', 'json', '', 'application/json', false);
                        window.location.href = window.location.pathname;
                    }
                });
            }
        </script>
        <script id="childList" type="text/x-handlebars-template">
            {{#each this}}
            <li><a href="javascript:void(0)" id="{{name}}" class="parentLink">{{label}}</a><a href="javascript:void(0)" class="addChild" data-parent="{{name}}">+</a><a href="javascript:void(0)" class="editlink" data-parent="{{name}}">Edit</a><a href="javascript:void(0)" class="removeChild" data-parent="{{name}}">-</a></li>
            {{/each}}

        </script>

    </body>
</html>