<nav aria-label="Eleventh navbar example" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid text-light">
		<a class="navbar-brand p-0" href="/pages/home.html">
			<img alt="" src="/images/logo.png"/>
		</a>
		<button aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation"
				class="navbar-toggler"
				data-bs-target="#navbarsExample09" data-bs-toggle="collapse" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav me-auto mb-lg-0">


			</ul>
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<input type="search" class="search-bar rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
				<li class="nav-item"><a class="nav-link" href="#">
					<i class="fas fa-search fa-2x"></i>
				</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">
					<i class="fas fa-bell fa-2x"></i>
				</a>
				</li>

				<li class="nav-item"><a class="nav-link" href="/pages/chat.html">
					<i class="far fa-comments fa-2x"></i>
				</a>
				</li>

				</li>
				<li class="nav-item">

					<div class="nav-link dropdown">
            <span aria-expanded="false" class="dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuLink"
				  role="button">
              <i class="fas fa-user fa-2x"></i>
            </span>

						<ul aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-lg-end">
							<li><a class="dropdown-item" href="/pages/setting.html">Settings</a></li>
							<li><a class="dropdown-item" href="/pages/profile.html">Profile</a></li>
							<li><a class="dropdown-item logout" href="javascript://">Logout</a></li>
						</ul>
					</div>


				</li>

			</ul>
		</div>
	</div>
</nav>
