<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eleventh navbar example">
  <div class="container-fluid text-light">
    <a class="navbar-brand p-0" href="/pages/home.html">
      <img src="/images/logo.png" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
      aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav me-auto mb-lg-0">

        
        
      </ul>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

        <li class="nav-item"><a  class="nav-link" href="/pages/extensions.html">
          <i class="fab fa-buromobelexperte fa-2x"></i>
        </a>
      </li>
        

        <li class="nav-item"><a   class="nav-link" href="#">
            <i class="fas fa-bell fa-2x"></i>
          </a>
        </li>

        <li class="nav-item"><a class="nav-link"  href="/pages/chat.html">
            <i class="far fa-comments fa-2x"></i>
          </a>
        </li>

        <li class="nav-item"><a class="nav-link"  href="/pages/setting.html">
            <i class="fas fa-cog fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          
          <div class="nav-link dropdown">
            <span class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user fa-2x"></i>
            </span>
          
            <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/pages/profile.html">Profile</a></li>
              <li><a class="dropdown-item logout" href="javascript://">Logout</a></li>
            </ul>
          </div>
          
          
        </li>

      </ul>
    </div>
  </div>
</nav>
