<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>Zols</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/zols.css -->
        <link rel="stylesheet" href="styles/zols.css"/>
        <!-- endbuild -->

        <!-- build:js scripts/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div class="container">
            <div class="row" th:fragment="content" >
                <div class="page-header">
                    <div class="container">
                        <div class="row-fluid">
                            <h4>Control Panel</h4>
                            
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <section id="carousel">    				
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                                        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" >
                                            <!-- Carousel indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>

                                            </ol>
                                            <!-- Carousel items -->
                                            <div class="carousel-inner">
                                                <div class="active item">
                                                    <div class="row row-centered">
                                                        <a href="/schema.html" th:href="@{/schema}">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="images/modules/documents.svg" alt="Schema" class="img-rounded"/>

                                                                <div class="col-md-offset-1">
                                                                    <h5>Schema</h5>                                                                
                                                                </div>
                                                            </div></a>
                                                        <a href="/templates.html" th:href="@{/templates}">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="images/modules/datastore.svg" alt="Documents" class="img-rounded"/>

                                                                <div class="col-md-offset-1">
                                                                    <h5>Templates</h5>                                                                
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="/links.html" th:href="@{/links}">
                                                            <div class="col-sm-6 col-md-3">

                                                                <img src="images/modules/documents.svg" alt="Documents" class="img-rounded"/>

                                                                <div class="col-md-offset-1">
                                                                    <h5>Links</h5>                                                                
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="/documents.html" th:href="@{/documents}">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="images/modules/datastore.svg" alt="Documents" class="img-rounded"/>

                                                                <div class="col-md-offset-1">
                                                                    <h5>Documents</h5>                                                                
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="/users.html" th:href="@{/users}">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="images/modules/documents.svg" alt="Documents" class="img-rounded"/>
                                                                <div class="col-md-offset-1">
                                                                    <h5>Users</h5>                                                                
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a href="/setting.html" th:href="@{/setting}">
                                                            <div class="col-sm-6 col-md-3">
                                                                <img src="images/modules/datastore.svg" alt="Documents" class="img-rounded"/>

                                                                <div class="col-md-offset-1">
                                                                    <h5>Settings</h5>                                                                
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>							
                                </div>
                            </div>
                        </section>							
                    </div>
                </div>
            </div>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function () {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <!-- build:js scripts/zols.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="bower_components/json-editor/dist/jsoneditor.js"></script>
        <!-- endbower -->
        <script src="scripts/jsviews.min.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/zolsUi.js"></script>       
        <!-- inject:partials -->
        <!-- endinject -->
        <!-- endbuild -->

        <!-- References 
        http://bootsnipp.com/snippets/6GM92
        http://bootsnipp.com/snippets/featured/fade-quote-carousel
        http://bootsnipp.com/snippets/featured/smooth-animated-thumbnails
        http://bootsnipp.com/snippets/featured/fat-and-flat-blue-button
        
        -->

    </body>
</html>
