<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8"/>
        <title>Zols</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css" th:href="@{/styles/main.css}"/>
        <!-- endbuild -->

        <!-- build:js scripts/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js" th:src="@{/scripts/modernizr.js}"></script>
        <!-- endbuild -->

        <!-- build:js scripts/zols.js -->
        <script src="bower_components/jquery/dist/jquery.js" th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
        <script src="bower_components/modernizr/modernizr.js" th:src="@{/bower_components/modernizr/modernizr.js}"></script>
        <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js" th:src="@{/bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js}"></script>
        <script src="bower_components/json-editor/dist/jsoneditor.js" th:src="@{/bower_components/json-editor/dist/jsoneditor.js}"></script>
        <script src="scripts/jsviews.min.js" th:src="@{/scripts/jsviews.min.js}"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="img-responsive" src="images/logo_120x40.png" th:src="@{/images/logo_120x40.png}" alt=""/>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" th:each="linkentry : ${links}" th:switch="${linkentry.key}"  th:case="'header'">
                        <li th:each="link : ${linkentry.value}">
                            <a th:href="${link.targetUrl}" th:text="${link.label}" href="/links.html">Links</a>                            
                        </li>
                        <!--/*-->
                        <li><a href="templates.html">Templates</a></li>
                        <li><a href="schema.html">Schema</a></li>
                        <!--*/-->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li sec:authorize="!isAuthenticated()"><a href="login.html" th:href="@{/login}">Signin</a></li>



                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a  href="javascript://" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span sec:authentication="name">User</span> <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="controlpanel.html" th:href="@{/controlpanel}" >
                                        Control Panel
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html" th:href="@{/logout}">
                                        Logout
                                    </a>
                                </li>                                
                            </ul>                  
                            
                        </li>


                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <!-- Begin page content -->
        <div class="container" th:include="${viewName}::content" th:fragment="content">
            <div class="page-header">
                <h1>Welcome to Zols</h1>
            </div>
            <p class="lead">Thanks for installing Zols.</p>
            <p>Please get started and configure your content from <a href="/controlpanel.html" th:href="@{/controlpanel}">here</a>.</p>
        </div>

        <footer class="footer navbar-fixed-bottom">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License V2</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/sathishk/zols/issues">Feedback</a></li>                    
                </ul>
            </div>
        </footer>




        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l;
                b[l] || (b[l] =
                        function () {
                            (b[l].q = b[l].q || []).push(arguments)
                        });
                b[l].l = +new Date;
                e = o.createElement(i);
                r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X');
            ga('send', 'pageview');
        </script>

        <script>
            var re = (class | id | style) = "[^"] + ";
                    var str = ' src="scripts/modernizr-c1ff1650.js"';
            var newstr = str.replace(re, "$1");
            console.log(newstr);
        </script>



<!--         build:js({app,.tmp}) scripts/main.js 
        <script src="scripts/zolsUi.js" th:src="@{/scripts/zolsUi.js}"></script>       
         inject:partials 
         endinject 
         endbuild -->

        <!-- References 
        
        http://bootsnipp.com/snippets/featured/fade-quote-carousel
        http://bootsnipp.com/snippets/featured/smooth-animated-thumbnails
        http://bootsnipp.com/snippets/featured/fat-and-flat-blue-button
        
        -->

    </body>
</html>
