<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Edit Templates</title>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/redmond/jquery-ui-1.10.3.custom.min.css" th:href="@{/resources/css/redmond/jquery-ui-1.10.3.custom.min.css}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="../../../../webApp/src/main/webapp/resources/css/ui.jqgrid.css" th:href="@{/resources/css/ui.jqgrid.css}"/>

    </head>
    <body th:fragment="content">

        <div class="wrap"  style="display: none">
            <!-- Define all of the tiles: -->
            <div class="box">
                <div class="boxInner">
                    <img th:src="@{/resources/css/images/icons/entities.svg}" src="../../../webapp/resources/css/images/icons/entities.svg" alt="file" />
                    <div class="titleBox">File System</div>
                </div>
            </div>
            <div class="box">
                <div class="boxInner">
                    <img th:src="@{/resources/css/images/icons/template.svg}" src="../../../webapp/resources/css/images/icons/template.svg" alt="ftp" />
                    <div class="titleBox">FTP System</div>
                </div>
            </div>
        </div>
        <form id="my-form" th:object="${documentstorage}" style="display: none">
            <fieldset><legend>Document Storage</legend>            
                <ul>
                    <li style="display: none">
                        <label>Type</label>
                        <input id="type" name="type" type="text" th:field="*{type}"/>
                    </li>
                    <li> <label>Name</label><input id="name" name="name" type="text" th:field="*{name}"/></li>
                    <li><label>Label</label><input id="label" name="label" type="text" th:field="*{label}"/></li>
                    <li><label>Description</label><input id="description" name="description" type="text" th:field="*{description}"/></li>
                    <li>
                        <button id="submit">Submit</button>
                        <button id="cancel" type="button">Cancel</button>
                    </li>
                </ul>
            </fieldset>
        </form>


        <script src="../../../../webApp/src/main/webapp/resources/js/jquery-1.10.2.min.js" th:src="@{/resources/js/jquery-1.10.2.min.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/form2js.js" th:src="@{/resources/js/form2js.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/handlebars.js" th:src="@{/resources/js/handlebars.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/jquery-handlebar.js" th:src="@{/resources/js/jquery-handlebar.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/jquery.toObject.js" th:src="@{/resources/js/jquery.toObject.js}"></script>
        <script src="../../../../webApp/src/main/webapp/resources/js/documentstorage.js" th:src="@{/resources/js/documentstorage.js}"></script>
        


    </body>
</html>